<div class="new_item_area">
    <div class="new_item_window">
        <p class="new_item_caption">Fill the fields below:</p>
        <form class="new_item_form" enctype="multipart/form-data">
            <div>
                <label for="name">Name:</label>
                <input name="name" type="text"/>
            </div>
            <div>
                <label for="price">Price:</label>
                <input name="price" type="text"/>
            </div>
            <div>
                <label for="image">Image:</label>
                <input name="image" type="file"/>
            </div>

        </form>
        <button class="close_window"></button>
    </div>
</div>